* {
    margin: 0;
    padding: 0
}

html {
    height: 100%
}

p {
    color: grey
}

/* responsive image */
img {
  height: auto;
  width: 100%;
/* even more control with max-width */
  /*max-height:350px;*/
}

/*header*/
header {
  background-color: #1e74ff;
  padding: 10px 0;
}
.navbar-brand{}
.navbar-brand img{
  max-width: 200px;
}
.navbar-light .navbar-nav .nav-link {
  font-size: 13px;
  color: #fff;
  padding: 4px 10px;
  margin: 0 5px;
  border-radius: 7px;
  transition: 0.5s;
  border-bottom: 1px solid transparent;
  position: relative;
}
.nav-link.brdr{
  border: 1px solid #eb501e !important;
}
.nav-link.brdr:hover{
  background-color: #eb501e;
}
.nav-link.support-reg {
  color: #2f80ed !important;
  background-color: #fff;
}
.nav-link.support-reg:hover{
  color: #fff !important;
  background-color: #2f80ed;
}
.nav-link.company-reg {
  background-color: #eb501e;
  color: #fff !important;
}
.nav-link.company-reg:hover{
  background-color: #fff;
  color: #eb501e !important;
}
.nav-link.brdr:hover, .nav-link.support-reg:hover, .nav-link.company-reg:hover{
  border-bottom: 0;
}
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: #fff;
  border-radius: 0;
  border-width: 100%;
}
.navbar-nav {
  margin-left: auto;
}

.nav-link::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 1px;
  background-color: #fff;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  transition: .3s;
}
.nav-link:hover::before{
  width: 100%;
}
/*end header*/


#heading {
    text-transform: uppercase;
    color: #1e74ff;
    font-weight: normal
}

#msform {
    text-align: center;
    position: relative;
    margin-top: 20px
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative
}

.form-card {
    text-align: left
}

#msform fieldset:not(:first-of-type) {
    display: none
}

#msform input,
#msform textarea {
    padding: 8px 15px 8px 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    background-color: #ECEFF1;
    font-size: 16px;
    letter-spacing: 1px
}

#msform input:focus,
#msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #1e74ff;
    outline-width: 0
}

#msform .action-button {
    width: 100px;
    background: #1e74ff;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 0px 10px 5px;
    float: right
}

#msform .action-button:hover,
#msform .action-button:focus {
    background-color: #eb501e
}

#msform .action-button-previous {
    width: 100px;
    background: #616161;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px 10px 0px;
    float: right
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    background-color: #D3D3D3
}

.card {
    z-index: 0;
    border: none;
    position: relative
}

.fs-title {
    font-size: 25px;
    color: #1e74ff;
    margin-bottom: 15px;
    font-weight: normal;
    text-align: left
}

.blue-text {
    color: #1e74ff;
    font-weight: normal
}

.steps {
    font-size: 25px;
    color: gray;
    margin-bottom: 10px;
    font-weight: normal;
    text-align: right
}

.fieldlabels {
    color: gray;
    text-align: left
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey
}

#progressbar .active {
    color: #1e74ff
}

#progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 33%;
    float: left;
    position: relative;
    font-weight: 400
}

#progressbar #step1:before {
    font-family: FontAwesome;
    content: "\f13e"
}

#progressbar #step2:before {
    font-family: FontAwesome;
    content: "\f054"
}

#progressbar #step3:before {
    font-family: FontAwesome;
    content: "\f00c"
}

/*#progressbar #confirm:before {
=======
    content: "\f054"
}

#progressbar #step4:before {
    font-family: FontAwesome;
    content: "\f054"
}

#progressbar #step5:before {
    font-family: FontAwesome;
    content: "\f054"
}

#progressbar #step6:before {
>>>>>>> master:style.css
    font-family: FontAwesome;
    content: "\f00c"
}*/

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #eb501e
}

.progress {
    height: 20px
}

.progress-bar {
    background-color: #1e74ff
}

.fit-image {
    width: 100%;
    object-fit: cover
}


/*footer*/
footer {
  background-color: #1e74ff;
  color: #fff;
  padding-top: 50px;
}
.footer-logo {
  max-width: 300px;
  margin: 0 auto;
  display: block;
}
.footer-links {
  margin-top: 24px;
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}
.footer-links li {
  float: left;
  border-right: 1px solid #fff;
  line-height: 12px;
  padding: 0 20px;
  margin-bottom: 15px;
}
.footer-links li:last-child{
  border: none;
}
.footer-links li a {
  color: #fff;
  font-size: 13px;
  position: relative;
}
.footer-links li a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 1px;
  background-color: #fff;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 22px;
  transition: .3s;
}
.footer-links li a:hover::before{
  width: 100%;
}
.copyright-text {
  display: block;
  width: 100%;
  clear: both;
  text-align: center;
  padding: 20px 0;
  margin-bottom: 0;
  border-top: 1px solid #bbb;
  margin-top: 60px;
  font-size: 14px;
}